<html>
    <head>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <p>
            <a href="/">Home</a><br><br>
            <a href="/newtask">Insert new task</a><br>
            <a href="/updatetask">Update task</a><br>
            <a href="/deletetask">Delete a task</a><br>
            <a href="/deleteCompleted">Delete completed tasks</a>
        </p>
        <table>
            <tr>
                <th>
                    Task ID
                </th>
                <th>
                    Task name
                </th>
                <th>
                    Assignee
                </th>
                <th>
                    Due date
                </th>
                <th>
                    Status
                </th>
                <th>
                    Description
                </th>
            </tr>
            <% for (let i=0; i<tasksDb.length; i++){ %>
                <tr>
                    <td>
                        <%= tasksDb[i].taskId %> 
                    </td>
                    <td>
                        <%= tasksDb[i].taskName %> 
                    </td>
                    <td>
                        <%= tasksDb[i].assignTo %> 
                    </td>
                    <td>
                        <%= tasksDb[i].dueDate %> 
                    </td>
                    <td>
                        <%= tasksDb[i].status %> 
                    </td>
                    <td>
                        <%= tasksDb[i].desc %> 
                    </td>
                </tr>
            <% } %>
        </table>
    </body>
</html>